<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hu.asdf.mobile.bababab"
    android:versionCode="41"
    android:versionName="1.0" >
	
    <application
        android:name="hu.ponte.mobile.navmobil.NAVMobilApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_default"
        android:label="@string/application_name"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name="hu.asdf.mobile.navmobil.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/application_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="hu.asdf.mobile.navmobil.ContactMapActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/map"
            android:windowSoftInputMode="stateAlwaysHidden">                        
        </activity>
        <activity
            android:name="hu.asdf.mobile.babababa.Tasdfty"
            android:configChanges="orientation|screenSize"
            android:label="@string/application_name"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
	            <action android:name="android.intent.action.VIEW" />
	            <category android:name="android.intent.category.DEFAULT" />
	            <category android:name="android.intent.category.BROWSABLE" />
	            <data android:scheme="babababa" android:host="da" />
        	</intent-filter>            
        </activity>
        
        <meta-data
		    android:name="com.google.android.maps.v2.API_KEY"
		    android:value="@string/google_maps_key"/>
        
    </application>

</manifest>